body{
    
    background-color: #515b5f;
    background-color: #424242;
    padding-bottom: 15px;
    /* color: white; */
}
.container{
    background-color:white;
    background-color:#424242;
    background-color:white;
    padding-bottom: 30px;

}
.footer{
    background-color:#424242;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover {
    color: wheat;
}

.bg-header{
    background-color:rgb(81 81 81);
}
.bg-contact{
    background-color: rgb(42 42 42)
}

.bg-img {
    background-color: rgb(245 116 46);
    height: 110px;
    /* width: 134px; */
    /* margin-right: 15px; */
    padding: 0;

}

.title-fullname {
    font-size: 30px;
    /* padding-top: 10px; */
    color: white;
}

.title-job {
    color: white;
    font-size: 21px;
    
}

.text-contact{
    color: white;
    padding: 10px 0px 10px 30px;
}

.text-contact i {
    font-size: 20px;
}

.line {
    background-color: #f56d27;
    height: 7px;
}

.box{
    background-color: rgb(245 116 46);
    height: 53px;
    max-width: 35px;
    /* margin-right: 5px; */
}
.title{
    color: #f56d27;

    font-weight: bold;
    font-size: 18px;
    
}
.sub-title{
    color: grey;
    font-style: italic;
}

.sub2-title{
    color: grey;
    font-style:normal;
}

.bg-badge-dark{
    background-color: #FF8C51;
    font-size: 14px;
}
    
.bg-badge{
    background-color: #FFA77A;
    font-size: 12px;
    
}

.badge {
    color: rgb(7 7 7);
    margin: 2px;
}


.row-title {
    padding-top:20px
}

.heading3{
    color: grey;
    font-size: 14px;

}

.cropped {
    width: 100px; /* width of container */
    height: 110px;
    overflow: hidden;
    margin-left: auto;
    margin-right: 0;
    
}

.cropped img {
    margin: 0px 0px 0px -5px;
    object-position: center top;
    object-position: -7px 0px;
}


/* Float Buttom */

#btn-print {
	animation-name: anim-btn;
	animation-timing-function: cubic-bezier(0.45, 2, 0.55, 3);
	animation-iteration-count: infinite;
	animation-duration: 4s;
}

@keyframes anim-btn {
	0% {
		transform: translateY(3%);
	}

	50% {
		transform: translateY(-3%);
	}

	100% {
		transform: translateY(3%);
	}
}

.pdf-float{
	position:fixed;
	width:70px;
	height:70px;
	bottom:40px;
	right:80px;
	background-color: rgb(245 116 46);
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.pdf-float i{
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 40px;
}
.pdf-float img{
    border-radius:50px;
}

@media only screen and (max-width: 541px) {
    body {
        padding-bottom: 0px;
    }

    .pdf-float{
        right:20px;
        width:60px;
        height:60px;
        bottom:20px;
    }

    .pdf-float i{
        font-size: 36px;
        top: 12px;
        left: 17px;
    }
}