<div class="row bg-header">
    <div class="col-4 col-sm-2">
        <div class="text-center">
            <a href=".."><img class="pt-2 pb-1" width="110px" src="../img/amirhome-logo.png"></a>
        </div>
    </div>

    <div class="col-8 col-sm-10">
        <div class="row">

            <div class="col-sm-1 pt-3 title-fullname"><b>A</b>mir</div>
            <div class="col-sm-11 pt-sm-3 title-fullname"><b>Hoss</b>einzadeh<a class="pl-6"
                                                                                href="../interview.html">&nbsp;&nbsp;&nbsp;</a>
            </div>

        </div>

        <div class="row d-none d-sm-flex">
            <div class="col-md-auto title-job">Senior <b>PHP</b> Developer<span class="sub2-title"> |</span></div>
            <div class="col-md-auto title-job"><b>Flutter</b> Developer<span class="sub2-title"> |</span></div>
             <div class="col-md-auto title-job"><b>MySQL</b> Administrator</div>
        </div>
    </div>

    <div class="col-12 d-sm-none py-2 px-5 text-left">
        <div class="title-job">Senior <b>PHP</b> Developer</div>
        <div class="title-job">Android, <b>Flutter</b> Developer</div>
        <!-- <div class="title-job"><b>MySQL</b> Administrator</div> -->
    </div>
</div>